*{
    margin: 0px;
    padding:0px;
}

body{
    background-image: url("../images/arthur_bg.jpg");
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}
#container{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border: 2px solid #00000F;
    padding: 10px 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.formElement{
    margin-top: 10px;

}
.input{
    border: 1px solid #00000F;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 5px;
}

input[type="text"],input[type="password"]{
    border-width: 0px;
    width: 200px;
    background-color: transparent;
}
input[type="checkbox"]{
    border: 1px solid #0000FF;
}
#submitionBlock{
    text-align: right;
    margin-top: 10px;
}
#btnSubmit{
    color:#000;
    background-color: transparent;
    border: 2px solid #00000F;
    width: 100px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
}
#btnSubmit:hover{
    cursor: pointer;
}
#signupforgot{
    margin-top: 10px;
    text-align: right;
}