*{
    margin: 0px;
    padding:0px;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
}
#container{
    margin-left: 35%;
    margin-top: 100px;
    width: 50%;
}
.input{
    border: 1px solid #D1D1D1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 5px;
    margin-bottom: 10px;
    width: 525px;
    height: 50px;
}
#priority{
    border: 1px solid #D1D1D1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 5px;
    margin-bottom: 10px;
    width: 525px;
}
#summary{
    border: 1px solid #D1D1D1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 5px;
    margin-bottom: 10px;
    width: 525px;
    height: 200px;
}

.mybutton{
    color:#000;
    background-color: transparent;
    border: 2px solid #D1D1D1;
    width: 100px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
}
#logoutbuttondiv{
    display: block;
    margin-left: 83%;
    margin-top: 2%;
}
#logoutbutton:hover{
    pointer : cursor;
}
#submitbutton:hover{
    pointer : cursor;
}


